<div class="container-fluid">
  <div class="row">
    <!--Sidebar content-->
    <div class="searchForm">
      <div class="searchForm--form">
        <span>Search:</span>
        <input ng-model="query">
      </div>
      <div class="searchForm--form">
       <span>Sort by:</span>
       <select ng-model="orderProp">
        <option value="name">Alphabetical</option>
        <option value="age">Newest</option>
      </select>
    </div>
    <!-- ng-controller="SwitchableGridController" -->
    <!--switch icons-->
    <div class="bar " >
      <a class="glyphicon glyphicon-th-list" 
      ng-class="{active: layout == 'list'}" ng-click="layout = 'list'"></a>
      <a class="glyphicon glyphicon-th" 
      ng-class="{active: layout == 'grid'}" ng-click="layout = 'grid'"></a>
      <a class="glyphicon glyphicon-th-large" 
      ng-class="{active: layout == 'trello'}" ng-click="layout = 'trello'"></a>
    </div>

  </div>


  <!--Body content-->
  <div class="viewContent col-md-8 col-sm-8 col-md-offset-2 col-sm-offset-2">
    <!--           first view -->      
    <div ng-show="layout == 'list'" class="list" >
      <table class="table table-striped  table-hover">
        <thead>
          <tr>
            <th> </th>
            <th>№</th>
            <th>Фамилия</th>
            <th>Имя</th>
            <th>Должность</th>
            <th>Возвраст</th>
            <th>Группа</th>
            <th>Телефон</th>
            <th>E-mail</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="user in users_list | filter:query | orderBy:orderProp">
          <td class="checkbox">
      <input type="checkbox">
          </td>
            <!-- <td>{{$index+1}}</td> -->
            <td>{{user.num}}</td>  
            <td><a href="#/users/{{user.id}}">{{user.surname}}</a></td>
            <td><a href="#/users/{{user.id}}">{{user.name}}</a></td>
            <td>{{user.position}}</td>
            <td>{{user.age}}</td>
            <td>{{user.group}}</td>
            <td>{{user.phone}}</td>
            <td>{{user.email}}</td>
          </tr>
        </tbody>
      </table>
    </div>

    <!--           second view -->      
    <div ng-show="layout == 'grid'" class="grid users" >
      <ul>
        <li ng-repeat="user in users_list | filter:query | orderBy:orderProp" class="thumbnail"><a href="#/users/{{user.id}}" class="thumb"><img ng-src="{{user.imageUrl}}" alt="{{user.name}}"></a>

          <p><a href="#/users/{{user.id}}">{{user.name}}</a></p>

          <p>{{user.snippet}}</p>

        </li>
      </ul>
    </div>
    <!--           third view -->      
    <div ng-show="layout == 'trello'" class="trello" >
      <ul>
      <li ng-repeat="user in users_list | filter:query | orderBy:orderProp">
      <!-- <a href="#/users/{{user.id}}"><img ng-src="{{user.imageUrl}}" alt="{{user.name}}"></a> -->
        <p>
          <a href="#/users/{{user.num}}">{{user.name}}</a>
        </p>
      </li>
            </ul>
    </div>
  </div>
</div>
</div>
