<div class="container-fluid">
  <div class="row">
    <!--Sidebar content-->
    <div class="searchForm">
      <div class="searchForm--wrapper clearfix">

        <div class="searchForm--form">
          <!-- <span>Search:</span> -->
          <input data-ng-model="query" class="form-control" data-ng-model-options="{debounce: 150}" placeholder="Search">
        </div>

        <!-- <a class="glyphicon glyphicon-option-vertical"></a> -->

        <div class="searchForm--form">
         <!-- <span>Sort by:</span> -->
         <select data-ng-model="orderProp" class="form-control">
          <option value="id">id</option>
          <option value="surname">surname</option>
          <option value="name">name</option>
          <option value="age">age</option>
          <option value="group">group</option>
        </select>
      </div>

      <!-- <a class="glyphicon glyphicon-option-vertical"></a> -->
      <div class="bar" >
        <a class="glyphicon glyphicon-th-list" 
        data-ng-class="{active: layout == 'list' }" data-ng-click="layout = 'list'"></a>
        <a class="glyphicon glyphicon-th" 
        data-ng-class="{active: layout == 'grid' }" data-ng-click="layout = 'grid'"></a>
        <a class="glyphicon glyphicon-th-large" 
        data-ng-class="{active: layout == 'trello' }" data-ng-click="layout = 'trello'"></a>
      </div>

      <div class="bar bar_right">
        <!-- <a class="glyphicon glyphicon-option-vertical"></a> -->
        <!-- <button class="btn btn-primary" data-toggle="modal" data-target=".bs-example-modal-sm">Малая модаль</button> -->

        <a class="glyphicon glyphicon-plus"  data-toggle="modal" data-target=".bs-example-modal-sm"></a>
        
        <a class="glyphicon glyphicon-cog" data-toggle="tooltip" data-placement="bottom" title="Редактировать персону"></a>
        
        <a class="glyphicon glyphicon-remove" data-toggle="tooltip" data-placement="bottom" title="Удалить персону"></a>
        
        <!-- <a class="glyphicon glyphicon-option-vertical"></a> -->
        
        <a class="glyphicon glyphicon-plus-sign" data-toggle="tooltip" data-placement="bottom" title="Добавить группу"></a>
      </div>

    </div>
  </div>

  <!--Body content-->
  <div class="viewContent ">
    <div class="viewContent--wrapper ">
      <!--           first view -->      
      <div data-ng-if="layout == 'list'" class="list" >
        <table class="table table-striped  table-hover table-bordered  focus-on">
          <thead>
            <tr>
              <th>/</th>
              <th>№</th>
              <th>Фамилия</th>
              <th>Имя</th>
              <th>Должность</th>
              <th>Возраст</th>
              <th>Группа</th>
              <th>Телефон</th>
              <th>E-mail</th>
            </tr>
          </thead>
          <tbody>
            <tr data-ng-repeat="user in users_list | filter:query | orderBy:orderProp">
              <td><input type="checkbox">
              </td>
              <td data-ng-bind="user.num"></td>  
              <td><a href="#" data-ng-bind="user.surname"></a></td>
              <td><a href="#" data-ng-bind="user.name"></a></td>
              <td data-ng-bind="user.position"></td>
              <td data-ng-bind="user.age"></td>
              <td data-ng-bind="user.group"></td>
              <td><a href='tel:ng-bind ="user.phone"' data-ng-bind="user.phone"></a></td>
              <td><a href="mailto:ng-bind ='user.email'"ng-bind="user.email"></a></td>
            </tr>
          </tbody>
        </table>
      </div>

      <!--           second view -->      
      <div data-ng-if="layout == 'grid'" class="grid users">

        <ul data-ng-repeat="group in users_group">
          <div class="fonGroup">
          <li class="btn btn-primary">
           <span data-ng-bind="group"></span>
         </li>
         <li class="thumbnail"  data-ng-repeat="user in users_list| group:group | filter:query | orderBy:orderProp" >
           <!-- <span class="badge" data-ng-bind="out.length">Group:{{group.length}}</span> -->

          <div class="checkbox">
            <input type="checkbox"/>
          </div>

          <div>
            <a href="#" class="thumb">
              <img data-ng-src="{{imageUrl}}" alt="{{user.name}} +{{user.surname}}">
            </a>

            <p><a href="#" data-ng-bind-template="{{user.name}}">
            </a><br>
            <a href="#" data-ng-bind-template="{{user.surname}}">
            </a></p>
<p>
            <span data-ng-bind-template="{{user.position}},"></span><br> 
            <span data-ng-bind-template="в группе: {{user.group}}"></span>
          </p>
          </div >

        </li>
        </div>
      </ul>

    </div>
    <!--           third view -->      
    <div data-ng-if="layout == 'trello'" class="trello" >
      <ul>
        <li data-ng-repeat="user in users_list | filter:query | orderBy:orderProp">

         <div class="checkbox"><input type="checkbox"/></div>

         <div>
          <a href="#" class="thumb">
            <img data-ng-src="{{imageUrl}}" alt="{{user.name}} +{{user.surname}}">
             <!-- class="img-circle" -->
          </a><br>
          <p><a href="#" data-ng-bind-template="{{user.name }} {{user.surname}}, возраст: {{user.age}}"></a></p>
          <div class="user_position">
          <p data-ng-bind-template="{{user.position}}, в группе: {{user.group}}"></p>
          </div>
          <span><a href='tel:ng-bind ="user.phone"' data-ng-bind="user.phone"></a></span>
          <br>
          <p><a href="mailto:ng-bind ='user.email'"ng-bind="user.email"></a></p>
        </div>
      </li>
    </ul>
  </div>
</div>
</div>
</div>
</div>

<!-- /.modal-content -->
<div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <form action="json.txt">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          <h4 class="modal-title" id="mySmallModalLabel">Добавить персону</h4>
        </div>
        <div class="modal-body">
         <div class="form-group">
          <label for="Name">Имя</label>
          <input type="text" class="form-control" id="name" placeholder="Enter name" value="">
        </div>
        <div class="form-group">
          <label for="exampleInputEmail1">Email</label>
          <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email" value="">
        </div> 
        <div class="form-group">
          <label for="Phone">Phone</label>
          <input type="Phone" class="form-control" id="Phone" placeholder="Enter Phone" value="">
        </div>
        <div class="form-group">

          <select class="form-control" value="">
            <option data-ng-repeat="group in users_group">{{group}}</option>
          </select>
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-default">Отправить</button>
        </div>

      </div>
    </div>
  </form>
</div>
</div>

