<div class="container-fluid">
  <div class="row">


  <!--Body content-->
  <div class="viewContent ">
  <div class="viewContent--wrapper ">

    <!--           second view -->      
    <div data-ng-show="layout == 'grid'" class="grid users" >
      <ul data-ng-repeat="group in ::users_group" >
        <li class="btn btn-primary">
         <span data-ng-bind="group"></span>
         <span class="badge" data-ng-bind="users_list.length">"</span>
       </li>

       <li data-ng-repeat="user in ::users_list track by user.id | filter:query | orderBy:orderProp" class="thumbnail">
        <div class="checkbox">
          <input type="checkbox"/>
        </div>
        <div>
          <a href="#" class="thumb">
            <img data-ng-src="{{imageUrl}}" alt="{{user.name}} +{{user.surname}}">
          </a>
          <p><a href="#/users/{{user.id}}" data-ng-bind-template="{{user.name}} {{user.surname}}">
            <!-- {{user.name }}<br>{{" "+ user.surname}} -->
            <!-- <span data-ng-bind-template="{{user.name}} {{user.surname}}"></span> -->
          </a></p>
          <!-- <span><a href="tel:{{user.phone}}">{{"+"+user.phone}}</a></span><br> -->
          <!-- <span><a href="mailto:{{user.email}}">{{user.email}}</a></span><br> -->
          <span data-ng-bind-template="{{user.position}},"></span><br> 
          <span data-ng-bind-template="в группе: {{user.group}}"></span>
        </div >
        <!-- <a href class="user_config_grid glyphicon glyphicon-cog"></a> -->
      </li>
    </ul>
  </div>


</div>
</div>
</div>
</div>
