<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Document</title>
  <link rel="stylesheet" href="css/normalize.css">
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <!-- <link rel="stylesheet" href="css/bootstrap-theme.min.css"> -->
  <link rel="stylesheet" href="css/style.css">
  <script src="js/jquery.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <!-- <script src="js/angular-resource.min.js"></script> -->
  <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script> -->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular-resource.min.js"></script>
  <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
      <![endif]-->
    </head>
    <body ng-app="switchableGrid">
      <div class="container">
        <div id="main">
          <!-- ng-show выводит элемент, если значение переменной в кавычках соответствует истине. ng- hide – скрывает элемент, если наоборот. Так как изначально  активная переменная не установлена, то сперва на экране будет виден следующий текст -->
          <p ng-hide="active">Please click a menu item</p>
          <p ng-show="active">You chose <b>{{active}}</b></p>
          <!-- Всем переменным классов в меню навигации будет присвоено значение "active". Функция $event.preventDefault() выводит страницу, которая была открыта по ссылке. -->
          <nav class="{{active}}" ng-click="$event.preventDefault()">
            <!-- Когда пункт меню открыт по ссылке, мы устанавливаем активные переменные -->
            <a href="#" class="before"    ng-click="active='before'"  >Before</a>
            <a href="#" class="home"      ng-click="active='home'"    >Home</a>
            <a href="#" class="projects"  ng-click="active='projects'">Projects</a>
            <a href="#" class="services"  ng-click="active='services'">Services</a>
            <a href="#" class="contact"   ng-click="active='contact'" >Contact</a>
          </nav>

        </div>

        <div  ng-controller="SwitchableGridController">


          <div class="bar">

            <!-- These two buttons switch the layout variable, -->
            <!-- which causes the correct UL to be shown. -->
            <a class="glyphicon glyphicon-th-list
" ng-class="{active: layout == 'list'}" ng-click="layout = 'list'"></a>
            <a class="glyphicon glyphicon-th
" ng-class="{active: layout == 'grid'}" ng-click="layout = 'grid'"></a>
            <a class="glyphicon glyphicon-th-large
" ng-class="{active: layout == 'trello'}" ng-click="layout = 'trello'"></a>
          </div>

          <!-- We have two layouts. We choose which one to show depending on the "layout" binding -->

          <div ng-show="layout == 'list'" class="list" >
            <div class="table-responsive">
              A view with big photos and no text
              <table class="table table-hover">
                <thead>
                  <tr>
                    <th>№ чека</th>
                    <th>Способ платежа</th>
                    <th>Дата платежа</th>
                    <th>Сумма</th>
                  </tr>
                </thead>
                <tbody>
                  <tr class="active rowcolor" ng-repeat="p in pics" ng-class-odd="odd" ng-class-even="even">
                    <td>2803</td>
                    <td>{{p}}</td>
                    <td>04.08.2014</td>
                    <td>2005.00</td>
                  </tr>
                </tbody>
              </table>
            </div>

          </div>

          <div class="grid_wrap">
           A compact view smaller photos and titles
           <ul ng-show="layout == 'grid'" class="grid">
            <li ng-repeat="p in pics">
              <a href="{{p.link}}" target="_blank"><img ng-src="{{p.images.thumbnail.url}}" /></a>
              <p>{{p.caption.text}}</p>
            </li>
          </ul>
        </div>

          <div class="trello_wrap">
           A compact view trello
           <ul ng-show="layout == 'trello'" class="trello">
            <li ng-repeat="p in pics">
              <a href="{{p.link}}" target="_blank"><img ng-src="{{p.images.thumbnail.url}}" /></a>
              <p>{{p.caption.text}}</p>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <script src="js/app.js"></script>
  </body>
  </html>